<section>
	<h2>Payments</h2>
	<section class="cryptocurrency">
		<a href="/images/qr/bitcoin.png">
			<img alt="Bitcoin (BTC)" class="cryptoicon" src="/images/crypto/bitcoin.svg" title="Bitcoin (BTC)"></img>
		</a>
		<code>bc1qlq7vjry8lp4jpsvu8rxknv7l3e27yl5dncapp8</code>
	</section>
	<section class="cryptocurrency">
		<a href="/images/qr/lbry.png">
			<img alt="LBRY Credits (LBC)" class="cryptoicon" src="/images/crypto/lbry.svg" title="LBRY Credits (LBC)"></img>
		</a>
		<code>bUDHPLUSVzm1A3tt9QsrbfuYxFYo2C19iF</code>
	</section>
	<section class="cryptocurrency">
		<a href="/images/qr/monero.png">
			<img alt="Monero (XMR)" class="cryptoicon" src="/images/crypto/monero.svg" title="Monero (XMR)"></img>
		</a>
		<code>45p23Gh9DEFPVgYXmh8S37HQZeiJ2WE5Lji8FNztNmFC4SRVGoowrKN1ssZZxzstjURZ9PsvJNNroF8JKEtiV1GTQHLChoD</code>
	</section>
</section>
